<div class="calendar-cell">

  <ul>
    <h5><%= @calendar_selected.reference_day.strftime('%A, %d - %B') %></h5>
  </ul>

  <% @calendar_selected.timeslots.map do |time_slot| %>
    <% if @lessons.detect {|lesson| lesson.timeslot_id == time_slot.id} %>
        <p> Lesson allredy reserved<br/>
          <%= time_slot.start_slot %>:00 -
          <%= time_slot.end_slot %>:00<br>
        </p>
      <% else %>
        <%= link_to lesson_index_path(timeslot_id: time_slot.id), method: :post do %>
        <%= time_slot.start_slot %>:00 -
        <%= time_slot.end_slot %>:00<br>
      <% end %>
    <% end %>
  <% end %><br/>

</div><br/>
