<h3> Tous les utilisateurs </h3>

<h4> Création de nouveau dates dans le calendrie:
<%= link_to "Créer nouveaux dates", new_calendar_path %><br/></h4>
<h4> Création de créneaux:
<%= link_to "Créer des créneaux", timeslots_new_path %><br/></h4><br/><br/>
<p>_____________________________________________________________
_________________________________________________________</p>
<% @list_students.each do |student|%>
  <p> Le nom de l'étudiant
    <%= student.first_name %>
  </p>

  <p> Le prénom de l'étudiant
    <%= student.last_name %>
  </p>

  <p> Actuelement il possede
    <%= student.credits %> credits
  </p>

  <%= link_to "Ajoutter des credits", edit_admin_student_path(student.id) %> <br><br>
<% end %>
