<%= form_with(model: @lesson, url: lesson_create_path) do |f| %>

  <label> Date du cours </label>
    <div class="field">
      <%= f.date_field :date %>
      <br><br>
    </div>

  <%= f.label "Remarques du moniteur" %>
    <div class="field">
      <%= f.text_field :remark1 %>
      <br>
    </div>

  <%= f.label "Autre remarque" %>
    <div class="field">
      <%= f.text_field :remark2 %>
      <br>
    </div>

  <%= f.label "évaluation/rémarque individuel" %>
    <div class="field">
      <%= f.text_field :remark3 %>
      <br><br>
    </div>

  <div class="form-group">
        <%= f.submit "Create", class: "btn btn-primary" %>
  </div>

<% end %>