<h1>Timeslots#index</h1>

<% @time_slots_all.each do |time_slots| %>
  <ul>
    <li><p><%= time_slots.calendar.reference_day.strftime('%A') %>, le
    <%= time_slots.calendar.reference_day %></li>
    <li><p> La conduite avec monsieur
    <%= time_slots.teacher.last_name %> commence à <%= time_slots.start_slot %>:00
    heure et ça termine à <%= time_slots.end_slot %>:00 heure</p></li>
    <p> Vous pouvez sélectionner cette conduite!</p> <br>
  </ul>
<% end %>
