<nav class="navbar">
  <div class="container-fluid">
    <div class="logo-container">
      <h5><%= link_to "Auto Ecole Alpha", home_path %></h5>
    </div>
    <%= link_to "Accueille", accueille_path%>
    <%= link_to "Permis Auto", permis_auto_path %>
    <%= link_to "Le Code en ligne", accueille_path %>
    <% if user_signed_in? %>
      <%= link_to "Mon Profile", student_show_path %>
    <% else %>
      <%= link_to "Mon Profile", new_user_session_path %>
    <% end %>
    <%=link_to "Contact", contact_path %>

    <div class="menu-container">
        <div class="menu-icon">
          <div class="line"></div>
          <div class="line2"></div>
          <div class="line"></div>
          
          <div class="menu-list">
            <nav id="menu-nav">
              <% if !user_signed_in? %>
                <%= link_to "Log in", user_session_path %>
                <%= link_to "Inscription", new_user_registration_path %>
              <% else %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete %>
              <% end %>
            </nav>
          </div>
        </div>
      </div>
  </div>
</nav>
