<nav class="navbar">
  <div class="container-fluid">
    <div class="logo-container">
        <h5>Auto Ecole Alpha</h5>
    </div>
    <%= link_to "Accueille", accueille_path%>
    <%= link_to "Permi Auto", home_path %>
    <%= link_to "Permi Moto", home_path %>
    <%= link_to "Le Code en ligne", home_path %>
    <%=link_to "Contact", home_path %>

    <div class="menu-container">
        <div class="menu-icon">
          <div class="line"></div>
          <div class="line2"></div>
          <div class="line"></div>
          
          <div class="menu-list">
            <nav id="menu-nav">
              <%= link_to "Log in", new_student_session_path %>
              <%= link_to "Inscription", new_student_registration_path %>
              <%= link_to "Log out", destroy_student_session_path, method: :delete %>
            </nav>
          </div>
        </div>
      </div>
  </div>
</nav>
